:root {
  --colorHeaderH1: #ddd;
  --colorHeaderNav: #ddd;
  --colorHeaderNavHover: #71b100;
  --colorBorderCard: #b5b5b5;
  --backgroundCard: #f5f5f5;
  --colorPrecio: #71b100;
  --colorContacto: #ddd;
  --colorTitleBlog: #000;
  --pseudoBlog: #71b100;
  --colorSpanBlog: #e08709;
  --colorBackgroundTestimoniales: #71b100;
  --colorTextTesTimoniales: #ddd;
}
html {
  /* Reset para rems 62.5% = 10px */
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
/* Globales*/
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
h1 {
  font-size: 3.8rem;
}
h2 {
  font-size: 3.4rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.6rem;
}
img {
  max-width: 100%;
}
/*Botones*/
.boton {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  text-align: centers;
}
.boton-amarillo {
  background-color: #e08709;
}
.boton-verde {
  background-color: #71b100;
}
/*Utilidades*/
.seccion {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.fw-300 {
  font-weight: 300;
}
.centrar-texto {
  text-align: center;
}
.d-block {
  display: block !important;
}
/* HEADER, selecciona ambos */
.site-header.inicio {
  background-image: url(../assets/img/header.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  min-height: 60rem;
}
.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1 {
  color: var(--colorHeaderH1);
  padding-bottom: 2rem;
  max-width: 60rem;
}
.barra {
  display: flex;
  /* Verticalmetne */
  align-items: center;
  /*Horizantalmente */
  justify-content: space-between;
  padding-top: 3rem;
  line-height: 2;
}
/* NAVEGACION */
.navegacion a {
  color: var(--colorHeaderNav);
  text-decoration: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}
.navegacion a:hover {
  color: var(--colorHeaderNavHover);
}
.navegacion a:last-of-type {
  margin: 0;
}
/*Iconos Nosotros*/
.iconos-nosotros {
  display: flex;
  justify-content: space-between;
}
.icono {
  flex-basis: calc(33.3% - 1rem);
  text-align: center;
}
.icono h3 {
  text-transform: uppercase;
}
/*Anuncios*/
.contenedor-anuncios {
  display: flex;
  justify-content: space-between;
}
.anuncio {
  flex-basis: calc(33.3% - 1rem);
  border: 1px solid var(--colorBorderCard);
  background-color: var(--backgroundCard);
}
.contenido-anuncio {
  padding: 2rem;
}
.contenido-anuncio h3,
.contenido-anuncio p {
  margin: 0;
}
.precio {
  color: var(--colorPrecio);
  font-weight: 700;
}
.iconos-caracteristicas {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}
.iconos-caracteristicas li {
  /* flex: 1; */
  display: flex;
}
.iconos-caracteristicas li img {
  margin-right: 2rem;
}
.ver-todas {
  display: flex;
  justify-content: flex-end;
}
/*Contacto Home*/
.imagen-contacto {
  background-image: url(../assets/img/encuentra.jpg);
  background-position: center center;
  height: 40rem;
  display: flex;
  align-items: center;
}
.contenido-contacto {
  /*Es el facto de crecimiento, detecta el tamaño disponible cuantos elementos hay y divide al tamaño total entre el numero de elementos*/
  flex: 1;
  color: var(--colorContacto);
}
.contenido-contacto p {
  font-size: 1.8rem;
}
/*Seccion inferior*/
.seccion-inferior {
  display: flex;
  justify-content: space-between;
}
.seccion-inferior .blog {
  flex-basis: 60%;
}
.seccion-inferior .testimoniales {
  flex-basis: calc(40% - 2rem);
}
.entrada-blog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.entrada-blog .imagen {
  flex-basis: 40%;
}
.entrada-blog:last-of-type {
  margin-bottom: 0;
}
.entrada-blog .texto-entrada {
  flex-basis: calc(60% - 3rem);
}
.texto-entrada a {
  text-decoration: none;
  color: var(--colorTitleBlog);
}
.texto-entrada h4 {
  margin: 0;
  line-height: 1.4;
}
.texto-entrada h4::after {
  content: "";
  display: block;
  width: 15rem;
  height: 0.5rem;
  background-color: var(--pseudoBlog);
  margin-top: 1rem;
}
.texto-entrada span {
  color: var(--colorSpanBlog);
}
/*Testimoniales*/
.testimonial {
  background-color: var(--colorBackgroundTestimoniales);
  font-size: 2.4rem;
  padding: 2rem;
  color: var(--colorTextTesTimoniales);
  border-radius: 2rem;
}
.testimonial p {
  text-align: right;
}
.testimonial blockquote::before {
  content: "";
  background-image: url(../assets/img/comilla.svg);
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: -2rem;
}
.testimonial blockquote {
  position: relative;
}
